.app-layout {
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header header'
    'sidebar main';
  height: 100dvh;
}

.main {
  background-color: antiquewhite;
  grid-area: main;
  padding: 1rem;
  overflow: auto;
}
